* {
    font-family: 'Fira Sans', sans-serif;
}

@media screen {
    body {
        background-color:black;
    }

    #outer {
        margin:auto;
        max-width:21.59cm;
        min-height:27.94cm;
        background-color:white;
        padding: 30px;
    }
}
